h1 {
  text-align: center;
  margin-bottom: 5%;
}

.navigation,
.navigation * {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.desks-page {
  justify-content: center;
  margin: 5% 20%;
}

.employees-page {
  justify-content: center;
  margin: 5% 20%;
}

.form-button {
  align-self: flex-end;
  margin-top: 5%;
  width: 20%;
}
