h1 {
  text-align: center;
  margin-bottom: 5%;
}

.navigation,
.navigation * {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.desks-page {
  justify-content: center;
  margin: 5% 20%;
}

.employees-page {
  margin: 5% 10%;
}

.employees-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.employee-main {
  width: 70%;
  padding-right: 2%;
}

.data-list {
  display: flex;
  justify-content: space-between;
}

.form-button {
  align-self: flex-end;
  margin-top: 5%;
  width: 20%;
}

.font-bold {
  font-weight: bold;
}
